@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Dosis');

    /*What are you doing here, you rascal*/

:root {
    /* CC-29 Palette by Alpha6 --- https://lospec.com/palette-list/cc-29 */
    --s-sky-day-lighter: #68c2d3;
    --s-sky-day-darker: #4b80ca;
    --s-sky-night-lighter: #43436a;
    --s-sky-night-darker: #352b42;
    --s-text-light: #f2f0e5;
    --s-text-header: #ede19e;
    --s-text-emphasis: #b8b5b9;
    --s-text-warning: #b45252;
    --s-body-dark: #212123;
    --s-body-less-dark: #303035;
    --s-body-mid-dark: #43436a;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    scroll-behavior: smooth;
}
*.ratified {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    filter: sepia() brightness(0.5) hue-rotate(-45deg) contrast(50);
    transform: scale(-100%);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(var(--s-sky-day-darker), var(--s-sky-day-lighter));
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.25);
}

header .funky-site-logo {
    font-family: "Indie Flower";
    color: var(--s-text-light);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 6px 15px;
    padding-bottom: 0px;
    border-radius: 0px;
    transition: 0.1s;
}
header .funky-site-logo:hover {
    background: var(--s-text-light);
    color: var(--s-body-dark);
    border-radius: 20px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
}
header ul li a {
    font-family: "Indie Flower";
    text-decoration: none;
    padding: 6px 15px;
    color: var(--s-text-light);
    border-radius: 20px;
    transition: 0.1s;
    border-radius: 20px;
    font-size: 1em;
}
header ul li a:hover, header ul li a.active {
    transition: 0.1s;
    background: var(--s-text-light);
    border-radius: 20px;
    color: var(--s-body-dark);
}
header ul li a.active {
    transition: 0.1s;
    text-decoration: underline;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--s-body-dark), transparent);
    z-index: 1000;
}
section.subpage {
    position:fixed;
    padding: 0px;
}
section.subpage::before {
    background: transparent;
}

section img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    position: absolute;
    top: 0;
    pointer-events: none;
    filter: hue-rotate(10deg);
}
section img#sky, section img#ground {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section img#sky {
    opacity: 0.2;
    left: 0;
}
section img#ground {
    z-index: 8;
    filter: saturate(0.8);
    left: 0;
}
section img#funky-logo {
    image-rendering: auto;
    z-index: 10;
    width: 50%;
    top: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.funky-title, #funky-title-small, #funky-title-large {
    font-family: "Indie Flower";
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    color: var(--s-text-light);
    white-space: nowrap;
    pointer-events: none;
    text-align: center;
    text-shadow: 0px 0px 10px var(--s-body-dark);
}
#funky-title-small {
    padding: 0;
    font-size: 2vw;
}
#funky-title-large {
    font-size: 7.5vw;
}

    /* Here's the juicy part of the site */
.main-body {
    position: relative;
    padding: 100px;
    background: var(--s-body-dark);
    color: var(--s-text-light);
    overflow-x: hidden;
}
.main-body::before {
    background: linear-gradient(to top, var(--s-body-mid-dark), transparent);
}
.main-body h2 {
    font-family: "Indie Flower";
    font-size: 2em;
    color: var(--s-text-header);
}
.main-body p {
    font-size: 1em;
}
.main-body .image-subtitle {
    padding: 10px;
    color: var(--s-text-emphasis);
    font-size: 0.8em;
    text-align: center;
}
.main-body ul {
    padding-left: 30px;
}
.main-body a:link {
    text-decoration: none;
    font-weight: bold;
    color: var(--s-text-emphasis);
    background-color: transparent;
}
.main-body a:visited {
    color: var(--s-text-emphasis);
}
.main-body#subpage {
    height: 100vh;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
}

    /* Splits the page into sections for more regret */
.two-column-section, .three-column-section, .five-column-section, .side-bar {
    float: left;
    padding: 5px;
    color: var(--s-text-light);
    align-content: center;   
}
.two-column-section {
    width: 50%;
}
.three-column-section {
    background-color: var(--s-body-less-dark);
    padding: 10px;
    border-radius: 20px;
    width: 26.666%;
    text-align: center;
    transition: 0.5s;
}
.three-column-section:hover {
    background-color: var(--s-body-mid-dark);
    border-radius: 30px;
    color: var(--s-text-light);
}
.five-column-section {
    padding: 10px;
    padding-top: 0px;
    width: 16%;
    text-align: center;
}
.five-column-section p, .five-column-section a {
    padding: 10px;
    background-color: var(--s-body-less-dark);
    border-radius: 20px;
    transition: 0.5s;
}
.five-column-section p:hover{
    background-color: var(--s-body-mid-dark);
    border-radius: 30px;
    color: var(--s-text-light);
}
.side-bar {
    padding: 10px;
    width: 20%;
    background-color: var(--s-body-less-dark);
    border-radius: 20px;
}

    /* Game page thingy */
a.game-link {
    width: 20%;
    background-color: var(--s-body-less-dark);
}
a.game-link img {
    width: 100%;
}

    /* Image effects (Make 'em squishy ) */
img.squish {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    filter: saturate(0.5);
    cursor: grab;
    transition: transform 0.2s;
}
img#pixel {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
}
img.squish:hover {
    transform: scale(1.05, 0.95);
}
img.squish:active {
    cursor: grabbing;
    transform: scale(1.1, 0.9);
}
img#rounded {
    border-radius: 1vw;
}

    /* The end of a page, and the beginning of your boredom */
footer {
    background-color: var(--s-body-dark);
    width: 100%;
    color: var(--s-text-light);
    text-align: right;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
}
footer a {
    font-family: "Indie Flower";
}
footer a:link, footer a:visited {
    color: var(--s-text-light);
    font-weight: bold;
    text-decoration: none;
}