@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=DotGothic16");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	overflow-x: hidden;
	background: linear-gradient(#7597de, #ccffff);
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}

header .rats-logo {
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 6px 15px;
	border-radius: 20px;
	transition: 0.1s;
}
header .rats-logo:hover {
	background: #ffffff;
	color: #2b1055;
}

header ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li {
	list-style: none;
	margin-left: 20px;
}
header ul li a {
	text-decoration: none;
	padding: 6px 15px;
	color: #ffffff;
	border-radius: 20px;
	transition: 0.1s;
}
header ul li a:hover, header ul li a.active {
	background: #ffffff;
	color: #2b1055;
}

section{
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
section::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #1c0522, transparent);
	z-index: 1000;
}
section img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}
section img#sky {
	opacity: .2;
}
section img#ground {
	z-index: 9;
}

#text {
	position: absolute;
	left: 50px;
	color: #ffffff;
	white-space: nowrap;
	font-size: 7.5vw;
	z-index: 9;
	pointer-events: none;
	text-shadow: 10px 10px 4px #5675b8;
}

#btn {
	text-decoration: none;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 40px;
	background: #ffffff;
	color: #2b1055;
	font-size: 1,5em;
	z-index: 9;
	transform: translateY(100px);
	transition: .3s;
}
#btn:hover {
	text-decoration: underline;
}

.sec {
	position: relative;
	padding: 100px;
	background: #1c0522;
}
.sec h2 {
	font-size: 3.5em;
	margin-bottom: 10px;
	color: #ffffff;
}
.sec p {
	font-size: 1.2em;
	color: #ffffff;
}
.sec .secret {
	color: #1c0522;
	text-align: left;
}

.image-column {
	float: left;
	width: 16.66%;
	padding: 5px;
	text-align: center;
	color: #ffffff;
	align-content: center;
}
.image-column img {
	transition: transform 0.2s;
	width: 200px;
	height: 200px;
}
.image-column img#icon:hover {
	transform: scale(.9);
	opacity: .8;
}
.image-row::after {
	content: "";
	display: table;
	clear: both;
}

.site-window {
	text-align: center;
}

.google-form {
	float: none;
	width: 100%;
	height: 100%;
	background-color: #1c0522;
	color: #1c0522;
	text-align: center;
	align-content: center;
}

footer {
	background-color: #1c0522;
	color: #ffffff;
	padding: 10px 10px;
	position: relative;
	bottom: 0;
}

#error {
	display: flex;
}
#error .errorimage {
	height: 80vh;
	transition: transform 0.2s;
}
#error .errorimage:hover {
	transform: scale(.9);
	opacity: .9;
}
#error .errorimage:active {
	transform: scaleY(.85);
}

#carrier {
	color: #ffffff;
	text-align: center;
	text-decoration: underline;
}